#container {
	width: 200px;
}

h1 {
	color: orange;
}

ul {
	list-style-type: none;
	padding: 0;
}

i {
	color: gray;
	margin-left: 4px;
}

i.name {
	/*float: right;*/
	display: none;
}

li.edit-icons{
	display: none;
}

li.list-url {
	display: none;
}

li {
	padding: 3px;
}

div.link-container {
	/*background-color: red; */
	padding: 6px;
}

#listarea {
	width: 200px;
}

body {
	border: solid lightgreen 10px;
	padding: 10px;
	border-radius: 2em;
}


input {
	margin: 4px;
}

input[type="submit"] {
	background-color: mediumseagreen;
	border-radius: .5em;
}

#add-link {
	display: none;
}

#new-link-div {
	text-align: center;
}

#new-link-button {
	background-color: lightgreen;
	border-radius: .5em;
}


